
html {
    /*background-color: #093009;*/
    background-image: linear-gradient(to right, #093009, #0D3E10, #1F6032);
    width: 100%;

}

.header {
    display: block;
    margin: auto;
    background-color: #1F6032;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 500px;
    border-color: white;
    color: white;
}

.h1 {
    display: flex;
    margin-left: 50px
}

.form {
    display: block;
    color: white;
    margin-left: 50px
}
#control{
   color: white;
height: 350px;  
text-align: center;  
padding: 15px;  
border: 3px solid white;
background-color: #1F6032;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 60px;
margin-top: 50px;
}



#test {
    display: flex;
    max-width: 400px;
    max-height: 300px;
    border-radius: 50px;
}

.walter {
    background-color: yellow;
    background-image: url(../images/walter.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
}
.walter:hover {
    box-shadow: 0 0 2rem #ffc600;
    transform: scale(1.1);
    border-color: #032202;
    transition: all .07s ease;
}

.gus {
    background-image: url(../images/gus.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
    background-position: -50px;
}

.gus:hover {
    box-shadow: 0 0 2rem #ffc600;
    transform: scale(1.1);
    border-color: #032202;
    transition: all .07s ease;
}

.hector {
    background-image: url(../images/Hector.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
    background-position: -80px;
}

.hector:hover {
    box-shadow: 0 0 2rem #ffc600;
    transform: scale(1.1);
    border-color: #032202;
    transition: all .07s ease;
}

#result {
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.score {
    display: block;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

.playerScore {
    background-color: #1F6032;
    border: solid;
    border-color: white;
    color: white;
    width: 150px;
}

.computerScore {
    background-color: #1F6032;
    border: solid;
    border-color: white;
    color: white;
    width: 150px;
}

/*things I want to do: alt text for images, make prettier scores, fix sizing, can I get sound bites of breaking bad?, mobile adaptability